.blogs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
  max-height: 100%;
  width: 100%;
}

.blogs__card {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto;
  column-gap: 1.5em;
}

.blogs__card__pic {
  grid-column: 1/2;
  grid-row: 1/4;
  height: 150px;
}

.blogs__card__id,
.blogs__card__title,
.blogs__card__resume {
  grid-column: 2/3;
}
.blogs__card__id {
  color: #c9c8d0;
  font-size: 1.8rem;
  font-family: interFontBold;
}
.blogs__card__title {
  font-family: interFontExtraBold;
  font-size: 1.2rem;
}
.blogs__card__resume {
  color: #00000099;
}
