@font-face {
  font-family: interFont;
  src: url(/public/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

* {
  padding: 0;
  margin: 0;
  background-color: none;
  border: none;
}
body {
  font-size: 16px;
  font-family: interFont;
}
